<div class="navbar navbar-expand-sm navbar-light" style="height: 60px; background-color: #007bff;">
  <div class="container-fluid">
    <div class="navbar-brand mx-auto" style="font-size: 20px; color: white;">
      Oferta Especial
    </div>

    <div class="ml-auto">
      <% if user_signed_in? %>
        <%= link_to "Sair", destroy_user_session_path, data: { turbo_method: :delete }, class: "btn btn-outline-light" %>
      <% end %>
    </div>
  </div>
</div>
