<!-- app/views/api/products/index_api.html.erb -->
<ul>
  <% @products.each do |product| %>
    <li>
      <h2><%= product['name'] %></h2>
      <% if product['image'].present? %>
        <%= image_tag product['image'], class: 'product-image' %>
      <% end %>
      <p><%= product['description'] %></p>
      <p><strong>Price:</strong> <%= number_to_currency(product['price']) %></p>
    </li>
  <% end %>
</ul>
